# Open Brewery DB Notebook

In [54]:
import numpy as np
import pandas as pd

In [73]:
df = pd.read_csv('breweries.csv', header=0)

In [74]:
df.head()

,id,name,brewery_type,street,address_2,address_3,city,state,county_province,postal_code,website_url,phone,created_at,updated_at,country,longitude,latitude,tags
0,fyne-ales,Fyne Ales,micro,Achadunan,NaN,NaN,Cairndow,NaN,Argyll,PA26 8BJ,https://www.fyneales.com/,1499600120,2020-10-23 22:22:08,2020-10-23 22:22:08,Scotland,56.276172,-4.913986,NaN
1,islay-ales,Islay Ales,micro,Islay House Square,Bridgend,NaN,Isle of Islay,NaN,Argyll,PA44 7NZ,https://www.islayales.com/,1496810014,2020-10-23 22:22:08,2020-10-23 22:22:08,Scotland,55.784560,-6.251186,NaN
2,colonsay-ales,Colonsay Ales,micro,Colonsay Brewery,Dunoran,Scalasaig,Isle of Colonsay,NaN,Argyll,PA61 7YZ,https://colonsaybrewery.co.uk/,1951200190,2020-10-23 22:22:08,2020-10-23 22:22:08,Scotland,56.070345,-6.260013,NaN
3,oban-bay,Oban Bay,micro,60 George Street,NaN,NaN,Oban,NaN,Argyll,PA34 5SD,http://obanbaybrewery.co.uk/,1631564492,2020-10-23 22:22:08,2020-10-23 22:22:08,Scotland,56.414664,-5.472594,NaN
4,bute-brew-co,Bute Brew Co,closed,15-17 Columshill Street,Rothesay,NaN,Isle of Bute,NaN,Bute,PA20 0DN,http://butebrewco.co.uk/,1700504206,2020-10-23 22:22:08,2020-10-23 22:22:08,Scotland,55.835396,-5.058482,NaN

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8002 entries, 0 to 8001
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               8002 non-null   object
 1   name             8002 non-null   object
 2   brewery_type     8002 non-null   object
 3   street           6966 non-null   object
 4   address_2        7 non-null      object
 5   address_3        2 non-null      object
 6   city             8002 non-null   object
 7   state            7992 non-null   object
 8   county_province  10 non-null     object
 9   postal_code      8002 non-null   object
 10  website_url      6627 non-null   object
 11  phone            7090 non-null   object
 12  created_at       8002 non-null   object
 13  updated_at       8002 non-null   object
 14  country          8002 non-null   object
 15  longitude        4945 non-null   float64
 16  latitude         4945 non-null   float64
 17  tags             0 non-null      float64
dtypes: float64(3), object(15)
memory usage: 1.1+ MB

## Clean-up

In [58]:
# Get rid of rows without `country`
df.dropna(subset=['country'], inplace=True)

In [59]:
# Fill empty `created_at` and `updated_at` values with current-ish datetime
df.created_at.fillna('2020-10-23 00:00:00', inplace=True)
df.updated_at.fillna('2020-10-23 00:00:00', inplace=True)

In [41]:
# Let's fix any rows Excel destroyed. We're going 
df.loc[df.created_at.str.match('1900'),'created_at'] = '2018-07-24 01:34:37'

In [42]:
df.loc[df.updated_at.str.match('1900'),'updated_at'] = '2018-07-24 01:34:37'

In [76]:
df['created_at'] = pd.to_datetime(df['created_at'])
df['updated_at'] = pd.to_datetime(df['updated_at'])

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8002 entries, 0 to 8001
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               8002 non-null   object
 1   name             8002 non-null   object
 2   brewery_type     8002 non-null   object
 3   street           6966 non-null   object
 4   address_2        7 non-null      object
 5   address_3        2 non-null      object
 6   city             8002 non-null   object
 7   state            7992 non-null   object
 8   county_province  10 non-null     object
 9   postal_code      8002 non-null   object
 10  website_url      6627 non-null   object
 11  phone            7090 non-null   object
 12  created_at       8002 non-null   datetime64[ns]
 13  updated_at       8002 non-null   datetime64[ns]
 14  country          8002 non-null   object
 15  longitude        4945 non-null   float64
 16  latitude         4945 non-null   float64
 17  tags             0 non-null      float64
dtypes: datetime64[ns](2), float64(3), object(13)
memory usage: 1.1+ MB

In [70]:
df['city'] = df['city'].str.strip()

In [78]:
len(df['id'].unique())

7857

In [62]:
df[df.duplicated(['id'])]

,id,name,brewery_type,street,address_2,address_3,city,state,county_province,postal_code,website_url,phone,created_at,updated_at,country,longitude,latitude,tags
154,peoria-artisan-brewery,Peoria Artisan Brewery,brewpub,10144 W Lake Pleasant Pkwy Ste 1130,NaN,NaN,Peoria,Arizona,NaN,85382-9716,http://www.peoriaartisanbrewing.com,6235364804,2018-07-24 01:32:50,2018-08-11 21:35:49,United States,NaN,NaN,NaN
165,santan-brewing-co,SanTan Brewing Co,planning,NaN,NaN,NaN,Phoenix,Arizona,NaN,85014-2435,NaN,NaN,2018-07-24 01:32:50,2018-08-23 23:22:34,United States,-112.077346,33.448587,NaN
199,state-48-brewery,State 48 Brewery,brewpub,13823 W Bell Rd,NaN,NaN,Surprise,Arizona,NaN,85374-3873,NaN,6235841095,2018-07-24 01:32:50,2018-08-23 23:22:41,United States,-112.357814,33.638221,NaN
268,brick-oven-pizza-co-/-brick-and-forge-brewing,Brick Oven Pizza Co / Brick & Forge Brewing,brewpub,2410 Linwood Dr,NaN,NaN,Paragould,Arkansas,NaN,72450-6122,http://www.brickovenpizzacompany.com,8702364200,2018-07-24 01:32:50,2018-08-23 23:23:05,United States,-90.520480,36.031636,NaN
393,brewery-in-planning-claremont,Brewery In Planning - Claremont,planning,NaN,NaN,NaN,Claremont,California,NaN,91711-1764,NaN,NaN,2018-07-24 01:32:53,2018-08-23 23:26:02,United States,-117.719779,34.096676,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7706,laurelwood-public-house-and-brewery-ne,Laurelwood Public House and Brewery - NE,proprietor,14300 NE 145th St,NaN,NaN,Woodinville,Washington,NaN,98072-6950,NaN,4254833232,2018-07-24 01:34:00,2018-08-24 16:36:00,United States,-122.146006,47.732825,NaN
7715,valley-brewing-co,Valley Brewing Co,micro,3215 River Rd,NaN,NaN,Yakima,Washington,NaN,98902-1142,http://www.valleybrewingco.com,5099495944,2018-07-24 01:34:00,2018-08-24 16:40:00,United States,-120.553068,46.618456,NaN
7864,brewery-in-planning-milwaukee,Brewery In Planning - Milwaukee,planning,NaN,NaN,NaN,Milwaukee,Wisconsin,NaN,53221,NaN,NaN,2018-07-24 01:34:35,2018-08-11 21:40:31,United States,NaN,NaN,NaN
7900,barley-johns-brewpub,Barley Johns Brewpub,brewpub,1280 Madison Ave,NaN,NaN,New Richmond,Wisconsin,NaN,54017-2236,http://www.barleyjohnsbrewery.com,7152464677,2018-07-24 01:34:35,2018-08-11 21:40:31,United States,NaN,NaN,NaN
7932,vintage-brewing-co,Vintage Brewing Co,brewpub,600 Water Street,NaN,NaN,Sauk City,Wisconsin,NaN,53583,NaN,6082042739,2018-07-24 01:34:37,2018-08-24 16:46:21,United States,-89.718089,43.282080,NaN

## Save CSV

In [79]:
df.to_csv('breweries.csv', index=False)